<ion-header>

    <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/parks"></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>Park Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>{{ getParks.name }}</h1>
    <br>
    <h2>{{ getParks.createDate }}</h2>

<!-- 
    "id": 0,
    "name": "Acadia",
    "createDate": "February 26, 1919",
    "lat": 44.35,
    "long": -68.21,
    "distance": 0,
    "image": "acadia.jpg",
    "state": "Maine",
    "data": "Covering most of Mount Desert Island and other coastal islands, Acadia preserves the tallest mountain on the Atlantic coast, granite peaks, ocean shoreline, woodlands, and lakes. There are freshwater, estuary, forest, and intertidal habitats." -->



</ion-content>
